@using Search4Support.Models
@model List<Search4Support.ViewModels.ServiceDetailViewModel>




<h1>Services</h1>
@if (Model.Count == 0){
<p>No services available.</p>}
else{
<table class="table">
<tr>
<th>Name</th>
<th>Category</th>
<th>Provider</th>
<th>Location</th>
<th>Add to Favorites</th>
</tr>
@foreach (var srv in Model)
    {
        <tr>
        <td>
        <a asp-controller="Search" asp-action="Results" asp-route-id="@srv.ServiceId">@srv.Name</a></td>
        <td>@srv.CategoryName</td>
        <td>@srv.ProviderName</td>
        <td>@srv.Address</td>

        <td><input type="checkbox" />
        </td>
        </tr>
    }
</table>}