@using Search4Support.Models
@model Search4Support.ViewModels.CategoryDetailViewModel

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f1f1f1;
    }
</style>

<h1>@Model.Name</h1>

    <table class="table striped">
        <tr>
            <th>Services</th>
            <th>Provider</th>
        </tr>

        @foreach (Service srv in Model.Services)
        {
            <tr>
                <td>
                    <a asp-controller="Services" asp-action="Detail" asp-route-id="@srv.Id">@srv.Name</a>
                </td>
                                <td>
                                    <a asp-controller="Services" asp-action="Detail" asp-route-id="@srv.ProviderId">@srv.ProviderId</a>
                </td>
            </tr>
        }
    </table>