<div class="container body-content">
    <h1>@ViewBag.title</h1>
</div>

<table class="centeredTable">
    <tr>
        @foreach(var column in ViewBag.columns)
            {
                @if (column.Key != "all")
                {
                    <th>@column.Value</th>
                }
            }
    </tr>
    <tr>
        @foreach(var category in ViewBag.tableChoices)
            {
                <td>
                    <ul>
                        @if(category == "provider")
                        {
                            @foreach(var item in ViewBag.providers)
                            {
                                <li>
                                    <a asp-controller="List" asp-action="Services" asp-route-column="@category" asp-route-value="@item.Name">@item.Name</a>
                                </li>
                            }
                        }
                    </ul>
                </td>
            }
    </tr>
</table>
    