@model Search4Support.ViewModels.ServiceDetailViewModel
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<h2>@Model.Name</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>@Model.Description</td>
    </tr>
    <tr>
        <th>Category</th>
        <td>@Model.CategoryName</td>
    </tr>
    <tr>
        <th>Tags</th>
        <td>@Model.TagText</td>
    </tr>
</table>

@if (SignInManager.IsSignedIn(User))
{
    <a asp-controller="Tag" asp-action="AddService" asp-route-id="@Model.ServiceId">Add Tag</a>
}