
@model Search4Support.ViewModels.ServiceDetailViewModel

<h1>@Model.Name</h1>

<table class="table">
  
    <tr>
        <th>Provider</th>
        <td><a asp-controller="Providers" asp-action="Detail" asp-route-id="@Model.ProviderId">@Model.ProviderName</a></td>
    </tr>

    <tr>
        <th>Category</th>
        <td><a asp-controller="Categories" asp-action="Detail" asp-route-id="@Model.CategoryId">@Model.CategoryName</a></td>
    </tr>
    <tr>
        <th>Location</th>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>@Model.Description</td>
    </tr>

    @*<tr>
        <th>Add to Favorites</th>
        <td><input type="checkbox" /></td>
    </tr>*@
</table>