@model Search4Support.ViewModels.ServiceDetailViewModel

<h1>@Model.Name</h1>

<table class="table">
    <tr>
        <th>Name</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>@Model.Description</td>
    </tr>
    <tr>
        <th>Category</th>
        <td>@Model.CategoryName</td>
    </tr>
    <tr>
        <th>Tags</th>
        <td>@Model.TagText</td>
    </tr>
</table>

<a asp-controller="Tag" asp-action="AddService" asp-route-id="@Model.ServiceId">Add Tag</a>