@using Search4Support.Models
@model Search4Support.ViewModels.ProviderDetailViewModel

<h1>@Model.Name</h1>

<table class="table">
    @*<tr>
        <th>Name</th>
        <td>@Model.Name</td>
    </tr>*@
    <tr>
        <th>Phone Number</th>
        <td>@Model.PhoneNumber</td>
    </tr>
    <tr>
        <th>Address</th>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>@Model.Description</td>
    </tr>
    <tr>
        <th>Services</th>
        @*<td>@Model.Services</td>*@
        <td>
          
            
                @*@foreach (var srv in Model.Services)
                {
                <a asp-controller="Services" asp-action="Detail" asp-route-id="@srv.ServiceId">@srv.Service.Name</a>
                }*@
            
        </td>   
    </tr>
</table>
  
