@using Search4Support.Models
@model Search4Support.ViewModels.ProviderDetailViewModel


<h1>@Model.Name</h1>

<table class="table">
 
    <tr>
        <th>Phone Number</th>
        <td>@Model.PhoneNumber</td>
    </tr>
    <tr>
        <th>Address</th>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>@Model.Description</td>
    </tr>
    <tr>
        <th>Services</th>
        <td>
            @Model.Services  @*List of ProviderServices*@  
            @*System.Collections.Generic.List`1[Search4Support.Models.ProviderService]*@



            @* for every ProviderService object in the List of ProviderServices stored at Model.Services *@
            @* post ProviderService.Name with link to Service DetailView *@
            @foreach( ProviderService srv in Model.Services)
            {

                <a asp-controller="Services" asp-action="Detail" asp-route-id="@Model.Services">@srv.Service.Name</a>
            }

        </td>
    
    </tr>
</table>
  
