@using Search4Support.Models
@model X.PagedList.PagedList<Search4Support.Models.Provider>
@using X.PagedList.Mvc.Core;
@using Microsoft.AspNetCore.Identity

<link href="~/Content/X.PagedList.css" rel="stylesheet" type="text/css" />


@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<h1 style="display:inline">Providers </h1>@if (SignInManager.IsSignedIn(User))
{
    <a asp-controller="Providers" asp-action="Add">Add Provider</a>
}
@*<h1>Providers</h1>*@

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f1f1f1;
    }
</style>

@if (Model.Count == 0)
{
    <p>No providers yet!</p>
}
else
{
    <table class="table striped">
        <tr>
            <th>@Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })</th>
            <th>Phone Number</th>
            <th>Address</th>

            @*<th>Add to Favorites</th>*@
        </tr>
        @foreach (var prv in Model)
        {
            <tr>
                <td><a asp-controller="Providers" asp-action="Detail" asp-route-id="@prv.Id">@prv.Name</a></td>
                <td>@prv.PhoneNumber</td>
                <td>@prv.Address</td>

                @*<td><input type="checkbox" /></td>*@
            </tr>
        }
    </table>
}

@*Page@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort }),
    new X.PagedList.Web.Common.PagedListRenderOptions
    {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
    })

